@import '../../styles/variables.scss';

@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeirofLightBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.menuList {
  position: fixed;
  z-index: 1011;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: white;
  overflow-y: auto;

  .exitButton {
    margin: 30px auto 20px 320px;
    border: none;
    background-color: white;
    font-size: 40px;
    color: #999fa8;
    cursor: pointer;
  }

  .loginContainer {
    display: flex;
    justify-content: center;

    .loginButton {
      width: 280px;
      height: 50px;
      margin-top: 20px;
      margin-bottom: 55px;
      background-color: #fee500;
      border-style: none;
      border-radius: 5px;
      font-size: 17px;
      cursor: pointer;

      .kakaoIcon {
        position: absolute;
        left: 85px;
        top: 12px;
        font-size: 22px;
      }
    }
    .loginUser {
      margin: auto auto 40px 40px;
      .loginName {
        font-size: 22px;
        color: $mainColor;
        margin-right: 8px;
        margin-bottom: 10px;
      }
      .loginTitle {
        font-size: 19px;
        color: $mainColor;
      }
      .loginEmail {
        margin-top: 15px;
        color: grey;
      }
    }
  }

  .imgContainer {
    position: relative;

    img {
      width: 400px;
    }

    .imgCenter {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 85%;
      height: 270px;
      background-color: black;
      border-radius: 5px;
      box-shadow: (3px 3px 3px 2px);
      opacity: 0.4;

      .saying {
        font-size: 25px;
        color: white;
        font-family: 'HeirofLightBold';
        font-style: italic;
        text-align: center;
        line-height: 33px;
      }
    }
  }

  .logoutWrap {
    display: flex;
    justify-content: center;
    position: relative;

    .logoutButton {
      width: 200px;
      height: 50px;
      margin-top: 40px;
      margin-bottom: 40px;
      background-color: #fee500;
      border-style: none;
      border-radius: 5px;
      font-size: 17px;
      cursor: pointer;
    }
  }
}
.navOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: rgba(0, 0, 0, 0.65);
}
