@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.menuList {
  width: 400px;
  height: 1000px;
  background-color: honeydew;

  .exitButton {
    top: 20px;
    right: 20px;
    background-color: lightpink;
    font-size: 45px;
    color: #999fa8;
  }
}
